.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid blue ;
}

.card img {
  max-width: 100%;
  height: 500px; /* hauteur de votre choix */
  object-fit: cover;
  margin-bottom: 20px;
}


.block p {
  margin-bottom: 10px;
}

h2{
  margin: 20px;
}
